name: 'PROD Docker Image'

on:
  push:
    branches:
      - main
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'
  workflow_dispatch:

jobs:
  multi:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.CR_PAT }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Bump version and push tag
        id: tag_version
        uses: mathieudutour/github-tag-action@v6.1
        with:
          release_branches: ".*"
          github_token: ${{ secrets.GITHUB_TOKEN }}
            # Replace all the occurrences of '{0}' with '42' in the README.md file
      - name: Replace version in docs/swagger.json
        uses: richardrigutins/replace-in-files@v2
        with:
          files: 'docs/swagger.json'
          search-text: '{version}'
          replacement-text: ${{ steps.tag_version.outputs.new_tag }}
      - name: Replace version in main.go
        uses: richardrigutins/replace-in-files@v2
        with:
          files: 'main.go'
          search-text: '{version}'
          replacement-text: ${{ steps.tag_version.outputs.new_tag }}
      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            smartenergyplatform/reporting-service:prod
            ghcr.io/senergy-platform/reporting-service:prod
            smartenergyplatform/reporting-service:${{ steps.tag_version.outputs.new_tag }}
            ghcr.io/senergy-platform/reporting-service:${{ steps.tag_version.outputs.new_tag }}
            smartenergyplatform/reporting-service:latest
            ghcr.io/senergy-platform/reporting-service:latest